
<html>
    <head>
        <title>
            <%= title %>
        </title>
        
    </head>

    <body>
        <h1>Codeial/ <%=title %></h1>

        <form action="" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="Type here...."></textarea>
            <input type="submit" value="Post">
        </form>
    </body>

</html>